html {
    font-size: 1px;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #8dc63f;
    cursor: url(../img/cursoremain.cur), default;
}

a { 
    cursor: url(../img/cursorclik.cur), default;
}

.wrapper {
    margin: 0 auto;
    padding: 0 15rem;
    max-width: 960rem;
    background-color: #fff;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 20rem;
    padding: 25rem 0;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    row-gap: 10rem;
    flex-wrap: wrap;
}

.logo p {
    text-align: center;
}

.logo p, 
.contacts a {
    color: #39930d;
    font-size: 22rem;
    text-decoration-line: none;
}

.logo p,
.contacts p {
    margin: 0;
}

.logo b {
    display: block;
    color: #39930d;
    font-size: 44rem;
}

.logo i,
.contacts i {
    color: #5a5a5a;
    font-size: 14rem;
}

.logo img {
    margin: 0 35rem;
}

.ball img {
    width: 100rem;
}

.contacts {
    text-align: center;
}

.contacts a {
    display: block;
    margin-bottom: 8rem;
}

.contacts i {
    display: block;
}

main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    padding: 7rem 0 30rem;
}

main h1 {
    color: #39930d;
    font-size: 24rem;
}

main p {
    color: #343434;
    font-size: 14rem;
    line-height: 1.5em;
}

.main-picture {
    width: 100%;
    height: 200rem;
    object-fit: cover;
    object-position: 75%;
    vertical-align: bottom;
}
.maintext {
    max-width: 600rem;
}

.menu a {
    display: block;
}

.menu li:hover>a {
    font-size: 15rem;
    line-height: 40rem;
    text-align: center;
    color: #fff;
    background-color: #39930d;
    border-radius: 3rem;
    box-shadow: 0 3rem #343434; 
    text-decoration: none; 
}

.menu{
    min-width: 300rem;
    width: 100%;
    background-color: #f0f5e9;
}


.menu p {
    padding: 9rem 20rem;
    color: #fff;
    font-size: 18rem;
    background-color: #39930d;
}

.menu ul {
    padding-left: 20rem;
    list-style: none;
}

.menu li {
    margin-bottom: 15rem;
}

.menu a {
    color: #39930d;
    font-size: 14rem;
    list-style: none;
    text-decoration: underline;
    text-transform: uppercase;
}

.footer {
    margin: 0 -15rem;
    padding: 15rem 15rem;
    color: #fff;
    font-size: 14rem;
    background-color: #39930d;
}

@keyframes ball {
    0% {
        left: 0;
    }
    100% {
        left: 350rem;
    }

}

@media screen and (min-width: 425px){
    .logo {
        justify-content: flex-start;
    }
    
    .logo p {
        text-align: left;
    }
}

@media screen and (min-width: 626px){
    header {
        justify-content: space-between;
    }
    
    .contacts {
        text-align: right;
    }

    main {
        flex-wrap: nowrap;
        column-gap: 15rem;
    }

    .menu {
        background-color: transparent;
    }
}

@media screen and (min-width: 1024px) {
    .ball {
        position: relative;
        left: 0;
        animation-name: ball;
        animation-duration: 3s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }
    
    .logo:hover>.ball {
        animation-play-state: paused;
    }
}

@media screen and (min-width: 1440px) {
    html {
        font-size: 2px;
    }
}